@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,400;0,600;0,700;0,900;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,400;0,500;0,600;0,900;1,400;1,500;1,600;1,900&family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,900;1,400;1,500;1,600;1,700;1,900&family=Titillium+Web:ital,wght@0,400;0,600;0,700;0,900;1,400;1,600;1,700&display=swap');

@import "./variables";

::selection {
  background-color: $main;
  color: $black;
}

html {
  scroll-behavior: smooth;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, * {
  font-size: 16px;
  font-family: "Titillium Web", Helvetica;
  -webkit-font-smoothing: antialiased;
}

ul, ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
}

button:hover {
  cursor: pointer;
}

body {
  overflow-y: hidden;
  overflow-x: hidden;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -100;
  background-image: url("assets/NY.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.parallax {
  background-attachment: scroll;
}

.turquoise {
  color: $turquoise;
}

.lightgreen {
  color: $main;
}

.container {
  width: 90%;
  max-width: 1600px;
  margin: 0 auto;
}

.btn-default {
  background-color: $turquoise;
  color: $lightBlack;
  font-weight: bold;
  padding: 14px 42px;
  border-radius: 50px;
  font-size: 1.6rem;
}
//Customize Tippy
.tippy-box{
  background-color: $black;
  color: $white;
}
.tippy-content {
  font-size: 14px;
}
.tippy-arrow::before {
  color: $black;
}

/*BUTTON EFFECT START*/
.HOVER {
	--width: 100%;
	--time: 1s;

	position: relative;
	display: inline-block;
	height: 1em;
	padding: 1em;

	color: white;
	background: #222;
	overflow: hidden;
}

.HOVER p {
	position: relative;
	z-index: 5;
	
	transition: color var(--time);
}

.HOVER:hover p {
	color: $main;
}

.HOVER span {
	position: absolute;
	display: block;
	content: "";
	z-index: 0;
	width: 0;
	height: 0;
	
	border-radius: 100%;
	background: #fff;
	
	transform: translate(-50%, -50%);
	transition: width var(--time), padding-top var(--time);
}

.HOVER:hover span {
	width: calc(var(--width) * 2.25);
	padding-top: calc(var(--width) * 2.25);
}
/*BUTTON EFFECT END*/

#loading {
  position: fixed;
  top: 0;
  left: 0;
  height: 200vh;
  width: 200vw;
  background-color: $white;
  z-index: 1000;
  overflow: hidden;

  &>div {
    @include flexCenter(row);
    height: 100vh;
    width: 100vw;

    &>img {
      animation: loading 4s ease-in-out forwards infinite;
    }
  }
}

@keyframes loading {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.mobile-nav-container {
  display: none;
  position: fixed;
  background-color: rgba(0,0,0,0.4);
  width: 100vw;
  height: 100vh;
  z-index: 100;

  &>.mobile-nav {
    position: absolute;
    right: 0;
    width: 200px;
    height: 100%;
    padding-top: 20px;
    background-color: $white;
    font-weight: bold;

    & .mobile-nav-item {
      pointer-events: none;
      display: inline-block;
      font-size: 1.3rem;
      padding: 5px;
      margin: 5px 70px 5px 15px;
      opacity: 0;
      transform: translateX(20px);
      transition: all 0.6s ease-out;
    }

    & .get-started {
      display: block;
      margin: 50px 20px 0 20px;
      text-align: center;
      padding: 10px 20px;
      background-color: $main;
      color: $white;
      border-radius: 50px;
    }
  }
}

.topnav-icon-container {
  pointer-events: auto;
  width: 80px;
  height: 100%;
  padding: 0 20px;
  background-color: $white;
  border-radius: 0 0 0 50px;
}

.topnav-icon {
  stroke: $main;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
	width: 100%; 
  height: 100%;
	fill: none;
	stroke-width: 5;
	stroke-linecap: round;
  stroke-linejoin: round;
  cursor: pointer;
}

.topnav {
  pointer-events: none;
  position: fixed;
  display: flex;
  justify-content: space-between;
  height: 80px;
  width: 100%;
  top: -80px;
  transition: top 1s ease-out;
  z-index: 100;

  & .topnav-logo {
    pointer-events: auto;
    width: 80px;
    background-color: $white;
    border-radius: 0 0 50px 0;

    &>img {
      height: 100%;
      padding: 20px;
    }
  }

  &>.topnav-marker {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    width: 116px;
    background-color: $main;
    transition: all 0.15s ease-out;

    &.topnav-marker-first {
      left: calc(100% - 683px);
      width: 137px;
    }
    &.topnav-marker-second {
      left: calc(100% - 546px);
      width: 172px;
    }
    &.topnav-marker-third {
      left: calc(100% - 374px);
      width: 184px;
    }
  }
}

.topnav-list {
  display: none;
  font-weight: bold;

  &>li {
    padding: 4px 0;
  }

  & .topnav-item {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 40px;

    &>p {
      font-size: 1.4rem;
      transform-origin: top;
      margin-top: 4px;
      transition: 0.15s ease-out;
    }

    &:hover p{
      transform: scale(1.1);
    }

    &:active {
      color: darken($main, 10%);
    }
  }

  & .get-started {
    @include flexCenter(row);
    color: $white;
    padding: 0 10px;

    &>a {
      height: auto;
      padding: 6px 28px;
      background-color: $main;
      border: 2px solid $main;
      transition: all 0.1s ease-out;

      &>p {
        margin: 0;
      }

      &:hover {
        @include bottomShadow();
        &>p {
          transform: none;
        }
      }

      &:active {
        box-shadow: none;
      }
    }
  }
}

.hero {
  @include bigShadow();
  position: relative;
  height: 100vh;
  min-height: 656px;
  max-height: 826px;
  // background-image: url("assets/herobg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: height 0.8s ease-out;

  &::after {
    content: '\f103';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: $white;
    animation: arrowDown 2s ease-in-out forwards infinite;
  }
}

.hero-intro-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 5rem;
  height: calc(100% + 80px);

  &>.hero-intro {
    color: $white;
  }
}

@media only screen and (min-height: 750px) {
  .hero-intro-container {
    justify-content: space-evenly;
  }
}

.hero-intro-text-b {
  position: relative;
  left: -100vw;
  font-weight: 800;
  font-size: 3rem;
  letter-spacing: 2px;
  line-height: 1;
  white-space: nowrap;
  transition: left 0.3s ease-out;
}
.hero-intro-text-s {
  opacity: 0;
  padding: 10px 0;
  color: darken($white, 20%);
  transition: opacity 1s ease-out;
}
.hero-social {
  opacity: 0;
  padding-top: 20px;
  transition: opacity 1s ease-out;

  &>a{
    display: inline-block;
    font-size: 2rem;
    padding: 0 10px;
    transition: all 0.2s ease-out;

    &>i{
      font-size: 2rem;
    }
    &:active {
      transform: rotate(-10deg);
    }
  }
  & #instagram:active {
    color: #ff5b91;
  }
  & #twitter:active {
    color: #00acee;
  }
  & #facebook:active {
    color: #3b5998;
  }
}

.hero-img {
  opacity: 0;
  position: relative;
  left: 100px;
  margin: 20px 0;
  transition: box-shadow 0.1s, transform 0.1s, left 1s, opacity 1s;

  &>img {
    width: 100%;
    max-width: 300px;
  }
}

@keyframes arrowDown {
  0% {
    transform: translateY(-20px);
  }

  50% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-20px);
  }
}
.we-are-curblum {
  --translateY: 0px;
  @include bigShadow();
  position: relative;
  background-color: $lightBlack;
  border-radius: 10px;
  border: 1px solid $white;
  color: $white;
  padding: 4rem 2rem;
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
  transform: translateY(var(--translateY));
  z-index: 20;

  &>div {
    position: relative;
    z-index: 1;
  }
}
.we-are-curblum-languages {
  &>h3, &>h3>span {
    text-align: center;
    font-family: "Anton", sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    line-height: 1.2;
    font-size: 1.6rem;
  }
  &>h3>span {
    font-size: 1.8rem;
  }
  &>.languages-icons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2.4rem 0;
    max-width: 500px;
    margin: 0 auto;
  }
  & i {
    @include flexCenter(row);
    margin: 8px;
    width: 40px;
    height: 40px;
    font-size: 40px;
    opacity: 0.5;
    transition: all 0.1s ease-out;
    &>svg {
      width: 40px;
      height: 40px;
    }
    &:hover{
      transform: scale(1.3);
      opacity: 1;
    }
  }
}
.we-are-curblum-estimate {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 0 auto;

  &>div:nth-child(1) {
    & * {
      font-size: 1.2rem;
    }
  }
  &>div:nth-child(2) {
    text-align: center;
    margin-top: 4rem;

    &>button {
      padding: 14px 28px;
      font-size: 1.3rem;
      &:active {
        background-color: darken($turquoise, 15%);
      }
    }
  }
}

.packages {
  --mt: 0px;
  margin-top: var(--mt);
  text-align: center;

  &>h4 {
    color: $lightBlack;
    font-weight: 800;
    font-size: 1.6rem;
  }
}
.card {
  @include shadow();
  background-color: #FEFEFE;
  border-radius: 10px;
  border: 1px solid $main;
  padding: 16px 0;
  transition: transform 0.3s ease-out;

  &.slick-current {
    transform: scale(1.1);
  }

  &>.card-title {
    color: $lightBlack;
    font-weight: bold;
    font-size: 1.3rem;
  }
  &>.card-price {
    color: $main;
    font-weight: bold;
    font-size: 1.5rem;
  }
  &>.card-description {
    margin: 16px 0;
    padding: 6px 20px;
    height: 150px;
    overflow: auto;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    scrollbar-width: thin;
    &>p {
      font-size: 0.8rem;
    }
  }
  &>.card-btn {
    background-color: $main;
    color: $white;
    font-weight: bold;
    border-radius: 50px;
    padding: 6px 20px;
  }
  ::-webkit-scrollbar {
    width: 6px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: $main;
    border-radius: 50px;
    &:hover {
      background-color: darken($main, 10%);
    }
  }
}
.slick-carousel {
  &>.slick-dots {
    @include flexCenter(row);
    & li {
      width: 8px;
      height: 8px;
      margin-right: 8px;
      border-radius: 50px;
      background-color: rgba(0,0,0,0.4);

      &.slick-active {
        background-color: rgba(0,0,0,0.7);
      }

      &:last-of-type {
        margin-right: 0;
      }
    }
  }
  & .card {
    margin: 40px;
    max-width: 450px;

    &>.card-btn:active {
      background-color: darken($main, 10%);
    }
  }
}
@media only screen and (min-width: 360px) {
  .slick-carousel .card {
    margin: 40px 60px;
  }
}
@media only screen and (min-width: 410px) {
  .slick-carousel .card {
    margin: 40px 80px;
  }
}
@media only screen and (min-width: 460px) {
  .slick-carousel .card {
    margin: 40px 100px;
  }
}
@media only screen and (min-width: 530px) {
  .slick-carousel .card {
    margin: 40px 130px;
  }
}

.carousel {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
  max-width: 1000px;

  &>.card {
    margin: 10px 0;
    width: 300px;
    max-width: 300px;
    &:first-of-type {
      margin-top: 30px;
    }
    &>.card-btn:hover {
      background-color: darken($main, 10%);
    }
  }
}
@media only screen and (min-width: 900px) {
  .carousel {
    flex-direction: row;
    margin-top: 20px;

    &>.card {
      margin: 10px 30px;
      &:first-of-type {
        margin-top: 10px;
      }
    }
  }
}
@media only screen and (min-width: 580px) {
  .slick-carousel {
    display: none;
  }
  .carousel {
    display: flex;
  }
}

.contact {
  box-shadow: 0 -20px 60px 40px rgba(14, 200, 136, 1);
  background-color: $main;
  margin-top: 140px;
  padding-bottom: 80px;
  overflow: hidden;

  &>.contact-form {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 12px;
    text-align: center;
    opacity: 0;
    transform: scale(1.1);
    transition: all 1s ease-in-out;

    &>h5 {
      text-transform: uppercase;
      font-size: 2.6rem;
      font-weight: 800;
      letter-spacing: 2px;
    }
    &>p {
      font-weight: bold;
    }

    &>.contact-inputs {
      margin-top: 40px;

      & input, & textarea {
        border-radius: 4px;
        border: none;
        background-color: $lightBlack;
      }

      &>.input-group {
        position: relative;
        width: 100%;
        max-width: 400px;
        height: 50px;
        color: $white;
        margin: 0 auto;
        margin-bottom: 10px;
        &>label {
          @include notSelectable();
          pointer-events: none;
          position: absolute;
          top: 50%;
          left: 20px;
          transform: translate(0, -50%);
          font-size: 1.1rem;
          color: #ccc;
          z-index: 20;
          transition: all 0.2s ease-out;
        }
        &>input {
          color: $white;
          position: relative;
          width: 100%;
          height: 100%;
          padding: 0 20px;
          padding-top: 22px;

          &:focus {
            outline: none;
          }
        }
      }

      &>textarea {
        width: 100%;
        max-width: 400px;
        padding: 10px 20px;
        color: $white;
        resize: none;

        &::placeholder {
          font-size: 1.1rem;
          color: #ccc;
        }
      }
      &>.error-text {
        display: block;
        height: 30px;
        color: rgb(255, 27, 27);
        font-weight: bold;
      }
      &>button {
        display: block;
        margin: 0 auto;
        width: 100%;
        max-width: 400px;
        border-radius: 4px;
        height: 50px;
        background-color: $white;
        color: $lightBlack;
        font-weight: 800;
        font-size: 1.6rem;

        &:active {
          background-color: $main;
        }
      }
    }
  }
}
.footer {
  @include flexCenter(column);
  background-color: $white;
  padding: 30px 0;
  font-weight: bold;

  &>.footer-logo {
    width: 100px;
    height: 100px;
    padding: 10px;
    margin-bottom: 10px;

    &>img {
      height: 100%;
      width: 100%;
    }
  }

  &>p {
    font-size: 1.2rem;
  }
}

.modal {
  @include flexCenter(row);
  visibility: hidden;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.4);
  z-index: 200;
  
  &>.modal-content {
    background-color: $white;
    width: 300px;
    text-align: center;
    padding: 18px;
    border-radius: 4px;

    &>p {
      margin-bottom: 20px;
      font-size: 1.1rem;
      &:first-of-type {
        font-size: 1.8rem;
        font-weight: bold;
      }
    }
    &>a {
      display: inline-block;
      background-color: $main;
      padding: 6px 20px;
      margin: 5px 0;
      font-size: 1.1rem;
      font-weight: bold;
      color: $white;
      border-radius: 50px;

      &:active {
        background-color: darken($main, 10%);
      }
    }
  }
}

//START media queries
@media only screen and (min-width: 800px) {
  .mobile-nav-container {
    visibility: hidden;
  }
  .topnav-icon-container {
    display: none;
  }
  .topnav {
    pointer-events: auto;
    background-color: $white;

    &>.topnav-marker {
      display: block;
    }

    & .topnav-logo>img {
      padding: 12px 30px;
    }
  }
  .topnav-list {
    display: flex;
  }
  .hero-intro-container {
    flex-direction: row;

    &>.hero-intro {
      & #instagram:hover {
        color: #ff5b91;
        transform: rotate(-10deg);
      }
      & #twitter:hover {
        color: #00acee;
        transform: rotate(-10deg);
      }
      & #facebook:hover {
        color: #3b5998;
        transform: rotate(-10deg);
      }
      &>.hero-intro-text-b {
        font-size: 7vw;
      }
    }
    &>.hero-img{
      margin: 0 20px;
      &>img {
        max-width: 100%;
      }
    }
  }
  .we-are-curblum-languages {
    &>h3 {
      font-size: 2rem;
    }
    &>h3>span {
      font-size: 2.4rem;
    }
    &>.languages-icons {
      padding: 4rem 1rem;
    }
    & i {
      margin: 14px;
    }
  }
  .we-are-curblum-estimate {
    flex-direction: row;
    &>div:nth-child(1) {
      width: 60%;
    }
    &>div:nth-child(2) {
      width: 40%;
      margin: auto;
      text-align: right;
      &>button {
        transition: box-shadow 0.1s ease-out;
        &:hover {
          box-shadow: 0px 0px 30px rgba(255,255,255, 0.6);
        }
      }
    }
  }
}

@media only screen and (min-width: 1800px) {
  .hero-intro-container>.hero-intro>.hero-intro-text-b {
    font-size: 8rem;
  }
}

@media only screen and (min-device-width: 1100px) {
  .parallax {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
  }
  .we-are-curblum {
    background-image: url("assets/6.gif");
    &::before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 10px;
      background-color: rgba(40,40,40, 0.8);
      z-index: 0;
    }
  }
}
//Classes for animations (Must be at the end)
.t0 {
  top: 0;
}
.l0 {
  left: 0;
}
.o1 {
  opacity: 1;
}